    <header class="header">
        
        <div class="container">
            <div class="header_body">
                <div class="header_body_logo">
                    <a href="" class="logo">
                        <img src="img/logo.png" alt="">
                    </a>
                </div>
                <div class="header_body_search">
                    <input type="text" class="search" placeholder="I'am your tag line">
                </div>
                <button class="header-body__burger header-burger">
                    <span class="header-burger__line"></span>
                    <span class="header-burger__line"></span>
                    <span class="header-burger__line"></span>
                </button>
                <nav class="header_body_nav">
                    <ul class="header_nav">
                        <li class="header_nav_item"><a href="">Home</a></li>
                        <li class="header_nav_item"><a href="">Features</a></li>
                        <li class="header_nav_item"><a href="">Works</a></li>
                        <li class="header_nav_item"><a href="">Team</a></li>
                        <li class="header_nav_item"><a href="">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>   


    </header>